<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.menu_project">
    <uses-permission android:name="android.permission.SEND_SMS"></uses-permission>
    <uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_circle"
        android:label="Menu"
        android:roundIcon="@drawable/ic_circle"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity android:name=".HelpActivity"
                  android:label="Help">
            <intent-filter>
                <action android:name="Help"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity>



        <activity android:name=".NewActivity"
                  android:label="New Activity">
            <intent-filter>
                <action android:name="New_Activity"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>/>
        </activity>



        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>